@tailwind base;
@tailwind components;
@tailwind utilities;

#bg_img:after {
  content: '';
  background: url('https://images.unsplash.com/photo-1544207830-b5bf10df1dc9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
}
